<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">

        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <div class="reviews">
          <div class="row">
          <div class="col-sm-8">
            <h4 class="review">Reviews</h4>
            <table class="table table-bordered reviews">
              <thead>
                <tr>
                  <th>Rating</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @product.reviews.each do |review| %>
                  <%= render 'review', review: review %>
                <% end %>
              </tbody>
            </table>
            <h4 class="review">Submit Review</h4>

            <!-- Start review creation form -->
            <%= form_for [@product, @review] do |form| %>

              <% if form.object.errors.any? %>
                <div class="alert alert-danger">
                  <strong>The following errors prevented saving:</strong>
                  <ul>
                    <% form.object.errors.full_messages.each do |error| %>
                      <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <%= form.label :rating %>
                <%= form.select(:rating, (2..5).each { |i| i }, prompt: '1') %>
              </div>

              <div class="form-group">
                <%= form.label :description %>
                <%= form.text_area :description, class: "form-control" %>
              </div>

              <div class="form-group">
              <%= form.submit 'Submit', class: "btn btn-primary" %>
              </div>

            <% end %>
            <!-- End review creation form -->

          </div>
          <div class="col-sm-4">
            &nbsp;
          </div>
        </div>
      </div>

      </div>
  </article>

</section>
