<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-1">&nbsp;</div>
      <div class="col-sm-3">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-7">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <% if @product.sold_out? %>
            <dd class="sold-out">Sold out</dd>
          <% else %>
            <dd><%= @product.quantity %></dd>
          <% end %>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>User Rating</dt>
          <dd>
            <% unless @product.overall_rating == 0 %>
              <%= @product.overall_rating %> out of 5
            <% else %>
              Not yet rated
            <% end %>
          </dl>
        </div>
      </div>
    </article>
    <div class="reviews">
      <div class="row">
        <div class="col-sm-1">
          &nbsp;
      </div>
        <!-- Display reviews table -->
        <div class="col-sm-7">
          <h4 class="review-header">Reviews</h4>
          <% if @product.reviews.exists? %>
            <table class="table table-bordered reviews">
              <thead>
                <tr>
                  <th>Reviewer</th>
                  <th>Rating</th>
                  <th>Description</th>
                  <th class="no-border-right">Created</th>
                  <% if current_user && has_reviews?(@product.id, current_user.id) %>
                    <th class="remove">&nbsp;</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @product.reviews.reverse.each do |review| %>
                  <%= render 'review', review: review %>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p> No reviews yet! </p>
          <% end %>
        </div>
        <!-- / Display reviews table -->
        <!-- Create review -->
        <div class="col-sm-3">
          <h4 class="review-header">Submit Review</h4>
          <% if current_user %>
            <% flash.each do |key, value| %>
              <p class="<%= key %>"><%= value %></p>
            <% end %>
            <%= render 'create_review' %>
          <% else %>
            <p>
              Please <%= link_to 'register', :users %> or <%= link_to 'login', [:session, :login] %> to submit a review
            </p>
          <% end %>
        </div>
        <!-- / Create review -->
      </div>
    </div>
  </section>